<section class="hero-section">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-7 pt-5 mb-5 " style="width: 50% !important;">
                <div class="promo pe-md-3 pe-lg-5">
                    <h1 class="headline mb-3">
                        {{model?.title}}
                    </h1><!--//headline-->
                    <div class="subheadline mb-4">
                        {{model?.content}}

                    </div><!--//subheading-->

                    <div class="text-center  my-4">
                        <a routerLink="/admin/update/{{postId}}" class="btn btn-warning my-4 mx-3">update item</a>
                        <a (click)="handelDelete(postId)" class="btn btn-danger mx-3">delete item</a>
                    </div>
                </div><!--//promo-->
            </div><!--col-->
            <div class="col-12 col-md-5 mb-5 align-self-center"
                style="width: 50% !important;">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" [src]="model.itemImg" alt="book cover"
                        style="max-height: 80vh !important;">

                </div><!--//book-cover-holder-->
                
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->
